* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     display: flex;
     padding: 15px;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     font-family: 'Times New Roman', Times, serif;
     background: rgb(84, 84, 170);
     color: white;
}
/*:where( .Quiz_box){
     text-align: center;
     box-shadow: 0 10px 25px black;
     background: white;
     border-radius: 5px;
}*/


/* Quiz Box */
.quiz_box {
     width: 500px;
     background: #ae3030;
     display: flex;
     max-width: 600px;
     padding: 20px;
     width: 300px;
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     border-radius: 8px;
}
.Quiz_title {
     font-size: 1.3rem;
     display: flex;
     font-weight: 500;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-bottom: 10px;
     text-align: center;
     font-size: 25px;
     color: white;
}

.quiz_box .Question_content {
     padding: 20px 25px 25px;
     display: flex;
     text-align: center;
     color: white;
}
.Question_content .Question_text {
     font-size: 25px;
     font-weight: 600;
     display: flex;
     text-align: center;
}
.Question_content .Answer_options {
     display: flex;
     flex-direction: column;
     gap: 12px;
     list-style: none;
     margin-top: 20px;
}
.Question_content .Answer_option {
     padding: 12px 15px;
     background: rgb(233, 234, 235);
     border-radius: 5px;
     font-weight: 350;
     cursor: pointer;
     border: 1px solid #85acff;
}